.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc
*.egg-info/
notebooks/.ipynb_checkpoints/
notebooks/__pycache__/
notebooks/data/state_of_the_union.txt
notebooks/session-2/chroma_logs.log
notebooks/session-2/.chroma/
notebooks/data/prompts.jsonl
.DS_Store
notebooks/.DS_Store
